{% extends 'base/base.html' %}

{% block title %}Add New Destination{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Add New Destination</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'add_destination' %}">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        
        <div class="mb-3">
            {{ form.location.label_tag }}
            {{ form.location }}
        </div>

        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="mb-3">
            {{ form.attractions.label_tag }}
            {{ form.attractions }}
        </div>

        <div class="mb-3">
            {{ form.visit_hours.label_tag }}
            {{ form.visit_hours }}
        </div>

        <div class="mb-3">
            {{ form.best_time.label_tag }}
            {{ form.best_time }}
        </div>

        <div class="mb-3">
            {{ form.duration.label_tag }}
            {{ form.duration }}
        </div>

        <div class="mb-3">
            {{ form.shopping.label_tag }}
            {{ form.shopping }}
        </div>

        <div class="mb-3">
            {{ form.restaurants.label_tag }}
            {{ form.restaurants }}
        </div>

        <div class="mb-3">
            {{ form.hotels.label_tag }}
            {{ form.hotels }}
        </div>

        <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Add Destination</button>
    </form>
</div>
{% endblock %}
